package inbound

import "{{ .ModulePath }}/internal/domain"

type {{ .EntityName }}Service interface {

	Create(
		entity *domain.{{ .EntityName }},
	) error

	GetByID(
		id string,
	) (*domain.{{ .EntityName }}, error)
}